@model IQueryable<Course>
@{
    string strTitle = "Курсы школы";
    ViewBag.Title = strTitle;
}

<div>
    <h1>@strTitle</h1>
    <div>
        <h3>Курсы</h3>
        <div class="div-box">
            <a asp-area="Admin" asp-controller="Course" asp-action="Edit" asp-route-id="">Добавить курс</a>
        </div>
        @if (Model.Any())
        {
            <div>
                @foreach (Course course in Model)
                {
                    <div>
                        <a asp-area="Admin" asp-controller="Course" asp-action="Edit" asp-route-id="@course.Id">редактировать</a>
                        |
                        <form style="display: inline-block;" id="form-@course.Id" asp-area="Admin" asp-controller="Course" asp-action="Delete" method="post">
                            <input type="hidden" name="id" value="@course.Id">
                            <a href="#" onclick="document.getElementById('form-@course.Id').submit();">удалить</a>
                        </form>
                        |
                            @($"{course.Name} {course.Category}")
                    </div>
                }
            </div>
        }
        <h3>Работники школы</h3>
        <div class="div-box">
            <form asp-area="Admin" asp-controller="Employee" asp-action="EditEmployee" method="post">
                <select name="role">
                    <option value="Tutor">Тьютор</option>
                    <option value="Teacher">Учитель</option>
                </select>
                <input type="submit" value="Добавить" />
            </form>
        </div>

        //:TODO добавить редацтирование и удаление (пока идея такая: поиск, который дает выбор или редактировать или удалить)

        <h3>Список тьюторов</h3>
        <div id="tutorsComponent">
            @await Component.InvokeAsync("Tutors", new { page = 1, pageSize = 3});
        </div>

        <h3>Список учителей</h3>
        <div id="teachersComponent">
            @await Component.InvokeAsync("Teachers", new { page = 1, pageSize = 3});
        </div>


    </div>
    <div class="div-box">
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
            <input type="submit" value="Выйти" />
        </form>

    </div>
</div>